@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FFD166;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

a:hover {
  text-decoration: underline;
}

.btn, .btn-primary, .btn-secondary {
  display: inline-block;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 3px;
  -webkit-transition: -webkit-transform 50ms linear;
  transition: -webkit-transform 50ms linear;
  transition: transform 50ms linear;
  transition: transform 50ms linear, -webkit-transform 50ms linear;
}

.btn:hover, .btn-primary:hover, .btn-secondary:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn-primary {
  background-color: #5c7fc9;
  color: #fff;
  border: 1px solid #3659A2;
}

.btn-secondary {
  background-color: #ffe8b3;
  color: #000;
  border: 1px solid #FFD166;
}

body {
  font-family: Montserrat;
  color: #000;
  background-color: #ebebeb;
  color: #000;
}

img {
  border-radius: 7px;
}

.pageDiv {
  padding-top: 2.5rem;
}

.navBar {
  background-color: #141414;
  color: #fff;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
}

.navBar .navbarContentContainer {
  margin: 0 auto;
  max-width: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .7rem 0;
}

.navBar .navTitle {
  margin: 0 1rem;
}

.navBar .navTitle a:hover {
  text-decoration: none;
}

.navBar .navLinks {
  font-size: .9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.navBar .navLinks li {
  margin: 0 .5rem;
}

.navBar .navLinks li a {
  text-decoration: none;
}

.navBar .navLinks li a:hover {
  font-weight: bold;
}

.imageModalContainer {
  z-index: 10;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imageModalContainer .modalContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imageModalContainer .modalContent .modalCloseButton {
  color: #fff;
  margin-left: .5rem;
}

.imageModalContainer .modalContent .modalCloseButton i {
  -webkit-transition: 150ms linear all;
  transition: 150ms linear all;
}

.imageModalContainer .modalContent .modalCloseButton i:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.imageModalContainer .modalContent .modalImage {
  max-width: 55rem;
}

.headerContainer {
  background-color: #141414;
  color: #fff;
}

.headerContainer .headerContentContainer {
  margin: 0 auto;
  max-width: 70rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerContainer .headerContentContainer .techMiniIcons img {
  max-width: 4rem;
  margin-right: .6rem;
}

.headerContainer .headerContentContainer .title {
  margin-bottom: 2rem;
  max-width: 40rem;
}

.headerContainer .headerContentContainer .projectLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.headerContainer .headerContentContainer .projectLinks button {
  margin: .5rem;
}

.imgGalleryContainer {
  padding: 1rem;
}

.imgGalleryContainer .imgsContainer {
  margin: 0 auto;
  padding: 1rem;
  max-width: 70rem;
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imgGalleryContainer .imgsContainer img {
  margin: 0 .2rem;
}

.imgGalleryContainer .imgsContainer button {
  border: none;
}

.projectContainer {
  padding: 1rem;
}

.projectContainer .projectDescriptionContainer {
  margin: 0 auto;
  max-width: 70rem;
}

.projectContainer .projectDescriptionContainer .projectSectionContainer a {
  color: #e6a100;
}

.projectContainer .projectDescriptionContainer .projectSectionContainer .titleDiv {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projectContainer .projectDescriptionContainer .projectSectionContainer .titleDiv .tech_icons img {
  margin-right: 1rem;
  max-width: 5.5rem;
}

.projectContainer .projectDescriptionContainer .projectSectionContainer .titleDiv h2 {
  font-size: 1.8rem;
}

.projectContainer .projectDescriptionContainer .projectSectionContainer .textContentDiv {
  padding: 0 1rem 2rem 1rem;
  line-height: 1.8;
  text-align: justify;
}

.projectContainer .projectDescriptionContainer .projectSectionContainer .textContentDiv p {
  text-indent: 2rem;
}

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #141414;
  color: #fff;
}

.footerContainer a {
  color: #fff;
  text-decoration: none;
}

.footerContainer a:hover {
  font-weight: bold;
}

@media (max-width: 450px) {
  .titleDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .headerContentContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectContainer {
    padding: .5rem;
  }
  .projectContainer .projectDescriptionContainer .projectSectionContainer .titleDiv .tech_icons img {
    max-width: 5rem;
  }
  .navBar .navLinks {
    font-size: .8rem;
  }
  .navBar .navTitle {
    margin: 0 .5rem;
  }
}
/*# sourceMappingURL=projects.css.map */